.card {
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 200px;
  object-fit: contain;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f9f9f9;
}

.card-body {
  padding-top: 1rem;
}

.card-body p {
  margin-bottom: 0.5rem;
}

.card .font-weight-bold {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
}

.card .card-text {
  color: #777;
  font-size: 0.85rem;
  height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .text-danger {
  color: #e53935;
  font-size: 1rem;
  font-weight: 500;
}

.card .small.text-muted {
  font-size: 0.75rem;
}

.card .position-absolute {
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-weight: 500;
  font-size: 0.75rem;
  z-index: 1;
}
/* From Uiverse.io by virus231 */ 
.btn_addcart {
  background: linear-gradient(140.14deg, #ec540e 15.05%, #d6361f 114.99%)
      padding-box,
    linear-gradient(142.51deg, #ff9465 8.65%, #af1905 88.82%) border-box;
  border-radius: 7px;
  border: 2px solid transparent;

  text-shadow: 1px 1px 1px #00000040;
  box-shadow: 8px 8px 20px 0px #45090059;

  padding: 10px 40px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.btn_addcart:hover {
  box-shadow: none;
  opacity: 80%;
}
